
<div class="new_question">
  <form class="question-form" method="post" action="/questions">
    <label for="question">Question:</label>
    <input class="add-q" type="text" name="question[text]" />
    <input class="questions_survey_id" type="hidden" name ="question[survey_id]" value="<%= session[:survey_id] %>">
    <input class="add-question" type="submit" value="Add Question">
  </form>
</div>



