<div class="new_choice">
  <form class="choice_form" method="post" action="/choices">
    <label for="choice">Choice:</label>
    <input class="question-<%= question_id %>" type="text" name="choice[text]" />
    <input class="save-choice" type="submit" value="Save choice" />
  </form>
</div>

