<div class="new-choice">
  <form class="choice-form" method="post" action="/choice"
    <label for="choice">Choice:</label>
    <input id="choice" type="text" name="choice[text]" />
    <input id="choice" type="submit" value="Add choice" />
</div>

