<form class="survey_form" method="post" action="/survey">
  <label for="survey">Survey Title:</label>
  <input id="survey" type="text" name="survey[title]" />
  <input class="survey_form" type="submit" value="Add Question">

</form>

<div class="questions"></div>


