<div class="new-survey-page">

  <div class="survey-title"> </div>

  <div class="questions-container">
  </div>





  <form class="survey-form" method="post" action="/surveys">
    <label id="survey_title" for="survey">Survey Title:</label>
    <input class="survey-name" type="text" name="survey[title]" />
    <input class="make-survey" type="submit" value="Add Question">
  </form>


</div>


