<h3>Survey Title: <h3>
<h3> <%= survey.title %> </h3>
<form class="survey-form">
  <div class="survey-questions">
    <% survey_questions.each do |question| %>

      <%= erb :"questions/_view_question", locals: {question: question} %>
    <% end %>
  </div>
  <br>
  <div class="submit-survey">
    <input class="submit-survey-button" type="submit" value="complete survey"/>
  </div>
</form>

