<h1><% user.name %>  </h1>

<h2>Surveys I have created</h2>
<ul>
  <% surveys.each do |survey| %>
    <li>
      <a href="/surveys/<%= survey.id %>"><%= survey.title %></a>Created on: <%= survey.created_at.asctime %>
    </li>
  <% end %>
</ul>


<h2> Surveys I have taken </h2>
<ul>
  <% all_surveys.each do |survey| %>
    <% if user_has_taken?(survey) %>
      <li><%= survey.title %> </li>
    <% end %>
  <% end %>

</ul>
